.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
}

.sectionTitle {
  color: var(--preto);
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  flex: 1;
}

.seeMoreLink {
  position: relative;
  color: var(--cinza);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-left: 12px;
  white-space: nowrap;
  display: inline-block;
  padding-bottom: 3px;
  overflow: visible;
}

.seeMoreLink::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--cinza);
  transition: width 0.7s ease-in-out;
  opacity: 1;
}

.seeMoreLink:hover {
  transform: scale(1.15);
  color: var(--cinza);
}

.seeMoreLink:hover::after {
  width: 100%;
}
