/* Estilos para o Hero */
.hero {
    display: flex;
    height: 700px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
  }
  
  .imgs {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
  }
  
  .infos {
    max-width: 1200px;
    width: 100%;
    display: flex;
    padding: 24px 50px;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  
  .infotext {
    display: inline-block;
    margin-left: 26px;
  }
  
  .infos p {
    color: var(--cinza);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .infos p span {
    color: var(--cor-primaria);
    font-weight: bold;
  }
  
  .infoicon {
    color: var(--cor-primaria);
    margin-right: 8px;
    font-size: 20px;
    vertical-align: middle;
  }
  
  @media (max-width: 1500px) {

    .infos {
      padding: 24px 50px;
      gap: 50px;
    }

  }
  
  
  @media (max-width: 950px) {

    .infos {
      font-size: 22px;
      gap: 30px;
    }

  }
  
  
  @media (max-width: 750px) {

    .infos {
      padding: 8px, 38px;
      font-size: 16px;
      gap: 120px;
    }

  }

  @media (max-width: 500px) {

    .infos {
      justify-self: start;
      align-items: start;
      align-self: start;
      padding: 8px, 12px;
      font-size: 8px;
      gap: 12px;
    }

  }

