.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.containerFluid {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  
  .container,
  .containerFluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  
  .container,
  .containerFluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}
