.productGridContainer {
  margin-bottom: 40px;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

/* Responsividade para o grid de produtos */
@media (max-width: 1200px) {
  .productGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .productGrid {
    grid-template-columns: 1fr;
  }
}
